In [1]:
import pandas as pd
chats_df = pd.read_csv('chat_preds.csv')
trans_df = pd.read_csv('trans_preds.csv')

In [2]:
trans_df

      BC_Trans_Preds
0         disruption
1          statement
2      floor-grabber
3      floor-grabber
4          statement
...              ...
36028      statement
36029      statement
36030      statement
36031      statement
36032      statement

[36033 rows x 1 columns]

In [3]:
chats_df.value_counts()

BC_Chat_Preds
floor-grabber    1216
question          763
statement         758
disruption        134
backchannel         7
Name: count, dtype: int64

In [4]:
trans_df.value_counts()

BC_Trans_Preds
statement         22366
question           8623
floor-grabber      3676
backchannel        1096
disruption          272
Name: count, dtype: int64

In [2]:
chats = pd.read_csv('../data/chat.csv')
trans = pd.read_csv('../data/trans.csv')

In [22]:
chats

,Unnamed: 0,content,recipient,sender,sentOnBehalfOf,session,block
0,0,Hello! Please confirm when the crew is online ...,eng3,vc3,vc3,1901,NaN
1,1,Hydrogeologist: Hello Geo!\n,teamGeo,teamGeo,geo1,1901,NaN
2,2,Session start,geo2,geo3,geo3,1901,NaN
3,3,Hello! Please confirm when the crew is online ...,eng2,vc3,vc3,1901,NaN
4,4,Hello! Please confirm when the crew is online ...,con1,vc3,vc3,1901,NaN
...,...,...,...,...,...,...,...
2873,2447,10/10 AGREE,geo2,geo3,geo3,2118,2.0
2874,2448,IT'S ALSO A GOOD DAY TO BE ON THE TURBO TEAM,geo2,geo3,geo3,2118,2.0
2875,2449,Sedimentologist: LET'S GO TURBO,teamGeo,teamGeo,geo3,2118,2.0
2876,2450,wHAT?))),con3,geo1,geo1,2118,2.0
2877,2451,SO LET'S CHOSE FE!?,con3,geo1,geo1,2118,2.0

In [23]:
#create new class for [UI], chat data doesnt have any [UI]'s cause it's just messages

ui_trans = trans.index[trans['content'].str.contains('\[UI\]')]
trans_df.loc[ui_trans] = 'UI'
trans_df.value_counts()

BC_Trans_Preds
statement         21332
question           8331
UI                 2566
floor-grabber      1931
backchannel        1095
disruption          778
Name: count, dtype: int64

In [25]:
#do same for dyda

dyda = pd.read_csv('DYDA_trans_preds.csv')
dyda.loc[ui_trans] = 'UI'
dyda.value_counts()

DYDA_Trans_Preds
inform              20423
question             8717
directive            2660
UI                   2566
commissive           1667
Name: count, dtype: int64

In [26]:
#there is an equal amount in each set, so this is working fine
#save back to files

trans_df.to_csv('trans_preds.csv', index=False)
dyda.to_csv('DYDA_trans_preds.csv', index=False)