In [1]:
import pandas as pd
chats_df = pd.read_csv('chat_preds.csv')
trans_df = pd.read_csv('trans_preds.csv')

In [2]:
trans_df

      BC_Trans_Preds
0         disruption
1          statement
2      floor-grabber
3      floor-grabber
4          statement
...              ...
36028      statement
36029      statement
36030      statement
36031      statement
36032      statement

[36033 rows x 1 columns]

In [3]:
chats_df.value_counts()

BC_Chat_Preds
floor-grabber    1216
question          763
statement         758
disruption        134
backchannel         7
Name: count, dtype: int64

In [4]:
trans_df.value_counts()

BC_Trans_Preds
statement         22366
question           8623
floor-grabber      3676
backchannel        1096
disruption          272
Name: count, dtype: int64

In [5]:
chats = pd.read_csv('../data/chat.csv')
trans = pd.read_csv('../data/trans.csv')

In [6]:
trans

,Unnamed: 0,speaker,content,block,session
0,0,Nastya,Ninety and slash or?,0,1903
1,1,Ryan to Zheny,And then just your number. So [UI],0,1903
2,2,Natash,No…,0,1903
3,3,Zheny,[UI],0,1903
4,4,Ali,You have a password.,0,1903
...,...,...,...,...,...
36028,8990,Will,[SL] It’s alright.,0,12111
36029,8991,Oleg,//They scattered away.,0,12111
36030,8992,Vika,//Bye guys.,0,12111
36031,8993,Ashley,Bye everyone. //It was a great session.,0,12111
36032,8994,Vika,"//Oh, I forgot about it.",0,12111

In [12]:
#temp file for manual inspection
ds = trans.iloc[trans_df.index[trans_df['BC_Trans_Preds'] == 'backchannel'].to_list()]
ds.to_csv('ds.csv', index=False)

In [8]:
#manually changing utterances that have "[UI]" or "//[UI]" to be disruptions


fgids = set(trans_df.index[trans_df['BC_Trans_Preds'] == 'floor-grabber'].to_list())
UIids = set(trans.index[trans['content'].str.contains('[UI]', na=False)].to_list())

overlap = list(fgids.intersection(UIids))

trans_df.loc[overlap, 'BC_Trans_Preds'] = 'disruption'
trans_df.value_counts()

BC_Trans_Preds
statement         22366
question           8623
disruption         2017
floor-grabber      1931
backchannel        1096
Name: count, dtype: int64

In [10]:
#save them back to file

trans_df.to_csv('trans_preds.csv', index=False)